<div class="dkp-footer">
  <!-- Footer -->
  <footer class="page-footer font-small text-light bg-dark">
  
      <!-- Footer Elements -->
      <div class="container">
    
        <!-- Grid row-->
        <div class="row">
    
          <!-- Grid column -->
          <div class="p-5">
            <div class="d-flex justify-content-center">
    
              <!-- Facebook -->
              <a class="fb-ic" href="https://www.facebook.com/alfred.pantaleon.5" target="_blank">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic" href="https://www.facebook.com/ispscdormservices" target="_blank">
                <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic" href="https://ispsc.edu.ph/campuses/santa-maria-campus/" target="_blank">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <!--Linkedin -->
    
              
            </div>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row-->
    
      </div>
      <!-- Footer Elements -->
    
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color: black;">© 2023 Copyright:
        <a routerLink="/"> Online Room Reservation  for ISPSC</a>
      </div>
      <!-- Copyright -->
    
  </footer>
  <!-- Footer -->
  </div>
  