<!-- girls rooms -->
<div class="contact2">
    <div style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)">
<div class="container mt-2 mb-5">
    <div class="col-lg-6 text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2 po" ><span id="catTitle">Girls Rooms</span></h2>
    </div>
    <div class="row justify-content-between mx-5">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/g1.jpg" class="card-img-top" alt="image of Room"  width="249px" height="270px">
                <a href="/../assets/img/g1.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/g2.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <a href="/../assets/img/g2.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                <div class="card-body">
                    <h1 class="card-title mb-0 po">Standard Room </h1><em class="small po">(3-5 person per room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0 po"><span style="color: #a14c4c">Php {{prices.girls + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;"></em></h2>
                    <h2 class="card-text po"><span class="badge badge-pill badge-primary " style="color: white;font-weight: 500;">Available Room: {{availability.girlsGroneRooms}}</span></h2> 
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/g3.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <a href="/../assets/img/g3.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                
            </div>
        </div>
    </div>
</div>

<!-- boys rooms -->
<div class="container mt-3 mb-5">
    <div class="col-lg-6 text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">     
        <h2 class="text-center my-2 po"><span id="catTitle">Boys Rooms</span></h2>
    </div>
    <div class="row justify-content-between mx-5">
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/b1.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <a href="/../assets/img/b1.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/b2.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <a href="/../assets/img/b2.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                <div class="card-body">
                    <h1 class="card-title mb-0 po">Standard Room </h1><em class="small">(3-5 person per room)</em> <hr style="margin:revert;">
                    <h2 class="mb-0 po"><span style="color: #a14c4c">Php {{prices.boys + prices.foodPackage}}</span><em class="text-muted ml-2" style="font-size: 13px;"></em></h2>
                    <h2 class="card-text po"><span class="badge badge-pill badge-primary" style="color: white;font-weight: 500;">Available Room: {{availability.boysBrtwoRooms}}</span></h2>   
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/../assets/img/b3.jpg" class="card-img-top" alt="image of Room" width="249px" height="270px">
                <a href="/../assets/img/b3.jpg"><h1 class="text-center my-2 po">View Room</h1></a>
                
            </div>
        </div>
    </div>
</div>

<!-- hostel another detail -->
<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <!-- hostel facilities -->
        <div class="col-lg-3">
            <div class="text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">
                <h2 class="text-center my-2 po"><span id="catTitle">VISION</span></h2>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-primary text-center po">
                   <h2 class="po"> A vibrant and nurturing Polytechnic Service 
                    College for transforming lives and communities.
                </h2>
            </a> 
            </div>
            <h2 class="card-text po"><span class="badge badge-pill badge-primary" style="color: rgb(224, 12, 12);font-weight: 500;">{{prices.securityDeposit}}</span></h2> 
        </div>
        <!-- canteen photo -->
        <div class="col-lg-5 pt-4 pt-lg-0 content">
            <div class="skills-content mt-5">
                <img src="/../assets/img/rules.jpg" alt="" style="width:100%;">
                <em></em>
            </div>
        </div>
        <!-- hostel fees structure -->
        <div class="col-lg-3">
            <div class="text-center bg-light my-3" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">
                <h2 class="text-center my-2 po"><span id="catTitle">MISSION</span></h2>
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-primary text-center">
                    <h2 class="po">
                        To improve the lives of people and communities through quality 
                    instruction, innovations, productivity, initiatives, environment and industry-feasible technologies, 
                    resource mobilization and transformational outreach programs and services.
                </h2>
            </a>
        </div>
    </div>
</div></div>
   </div>
