<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-background"><img src="/../assets/ForDashboard/img/slide/pic.jpg" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown po">Welcome to <span>ISPSC</span> Dormitory Sta. Maria Campus</h2>
              <a routerLink="/hostel-detail" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
            </div>
          </div>
        </div>

        

      </div>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">
<div class="contact2" style= "background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)">
<!-- ======= About Us Section ======= -->

<section id="about" class="about">
  <div class="container" >

    <div class="section-title">
      <h2 class="po" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;"><strong>Give it to GOD 
        and Go to Sleep</strong></h2>
    </div>

    <div class="row">
      
      <div class="col-lg-6 pt-4 pt-lg-0 content">
        <div class="skills-content mt-4">
          <img src="/../assets/ForDashboard/img/slide/offenses.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <h2 class="text-center po" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">Welcome to <strong>ISPSC</strong> Dormitory </h2>
        <h3 class="po">
          We are located at Poblacion, Sta. Maria
        </h3>
        <div class="row">
          <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active po1" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Ladies Room</a>
              <a class="list-group-item list-group-item-action po1" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Men's Room</a>
            </div>
          </div>
          <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active po" id="list-home" role="tabpanel" aria-labelledby="list-home-list"> 3-5 person per room.</div>
              <div class="tab-pane fade po" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">3-5 person per room.</div>
            </div>
          </div>
        </div>
        <p class="font-italic">
            
      </div>
    </div>
  </div></section>
</div>
<!-- End About Us Section -->

<!-- ======= Counts Section ======= -->
<section class="counts section-bg">
  <div class="container">

    <div class="row no-gutters justify-content-center">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-boy"></i>
          <span data-toggle="counter-up">90</span>
          <p><strong>Total Rooms for Boys</strong></p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-girl"></i>
          <span data-toggle="counter-up">80</span>
          <p><strong>Total Rooms for Girls</strong></p>
        </div>
      </div>

      <!-- <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-live-support"></i>
          <span data-toggle="counter-up">1,463</span>
          <p><strong>Hours Of Support</strong></p>
        </div>
      </div> -->

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-users-alt-5"></i>
          <span data-toggle="counter-up">0</span>
          <p><strong>Hard Workers</strong></p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<!-- ======= Our Team Section ======= -->

<section id="team" class="team" style="background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)">
  <div class="container">

    <div class="section-title">
      <h2 class="po" style="margin:auto;border-top: 2px groove black;border-bottom: 2px groove black;">User Guidelines</h2>
    </div>

    <div class="row" style="padding-left: 228px;">

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/1.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/1.jpg" ><h4>Step 1</h4></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/2.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/2.jpg" ><h4>Step 2</h4></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/3.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/3.jpg" ><h4>Step 3</h4></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="" data-wow-delay="0.2s">
        <div class="">
          <img src="" class="" alt="">
          <div class="">
            <div class="">
              <h4></h4>
            </div>
            <div class="">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/4.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/4.jpg" ><h4>Step 4</h4></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/5.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/5.jpg" ><h4>Step 5</h4></a>
            </div>
            
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
        <div class="member">
          <img src="/../assets/ForDashboard/img/team/6.jpg" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <a href="/../assets/ForDashboard/img/team/6.jpg" ><h4>Step 6</h4></a>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Our Team Section -->

</main>

